{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                <label for="floatingInput">Username</label>
              </div>

              <div class="input-group mb-2">
                <input type="password" class="form-control show-password" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2" name="password">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button" onclick="showPassword();"><i class="material-icons">remove_red_eye</i></button>
                </div>
              </div>
            <input type="submit" class="btn btn-primary text-center" value="Login"/>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">create one</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    </div>
</div>


{% endblock content %}