{% extends 'index.html' %}

{% block content %}
  <div class="password-reset-container form-container"">
    <h2>Password Reset</h2>
    <form method="post">
      {% csrf_token %}
          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="" name="new_password1">
            <label for="floatingPassword">Type new password</label>
          </div>

          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="" name="new_password2">
            <label for="floatingPassword">Confirm new password</label>
          </div>

        <input type="submit" class="btn btn-primary text-center" value="Change my password"/>
    </form>
  </div>

{% endblock content %}